$img_path: '/assets/images';

html {
  min-height: 100%;
  background: url(#{$img_path}/grass.jpg);
  color: white;
  -webkit-font-smoothing: antialiased;
  @include background-size(cover);
}

.container {
  padding: $padding 0;
}

.box {
  width: 50%;
  margin: auto;
  padding: 2em 1em;
  min-width: 260px;
  max-width: 600px;
  color: #444;
  text-shadow: 0 1px white;
  background: white;
  background: rgba(white, .95);
  border: 1px solid white;
  @include border-radius(5px);
}

.map-box {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  background: rgba(white, .65);
  border-radius: 5px;
  padding: 1em;
  z-index: 10;
}

#map {
  min-height: 400px;
  height: 100%;
}

#map-close {
  position: absolute;
  top: .25em;
  right: .25em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  font-size: 2em;
  line-height: 1em;
}
