
html {
  min-height: 100%;
}

body {
  display: block;
  background: #3E4041 no-repeat center;
  @include background-image(radial-gradient(center, rgba(black, 0), rgba(black, 0.5)));
  @include background-size(cover);
  background-image: url(#{$images-path}/rain.jpg);

  @media screen and (max-device-width: 1024px) {
    .title { font-size: 1.5em; }
    background-image: url(#{$images-path}/rain-small.jpg);
  }
}

.container {
  padding: $padding ($padding / 2);
}

.box {
  margin: auto;
  padding: 2em 2.5em 1em;
  min-width: 260px;
  max-width: 560px;
  color: #444;
  text-shadow: 0 1px white;
  background: #fcfcfc;
  border: 1px solid white;
  @include border-radius(5px);
}

.map-container {
  display: block;
  position: relative;
  margin: 1.5em auto;
  text-align: center;
}

.map-container, .map-box, .map-container-image {
  width: 256px;
  height: 256px;
}

.map-container-image {
  position: absolute;
  top: 0; left: 0;
  pointer-events: none;
}

.map-link {
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: 3em;
  text-align: center;
  margin-left: -1.5em;
  text-decoration: none;
  font-weight: bold;

  &:hover { color: black; }
}


.ie6, .ie7, .ie8 {
  body { background-image: url(#{$images-path}/rain-small.jpg); }
}

.ie6, .ie7 {
  .title {
    background: url(#{$images-path}/title.png) no-repeat center;
    width: 320px;
    height: 350px;
    margin: 0 auto 1em;
    text-indent: -9999px;
    overflow: hidden;
  }
}
