
@import url(http://fonts.googleapis.com/css?family=Lato:700,400,400italic);

body {
  font: normal #{$font-size}/#{$line-height} $font-family;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1em rgba(black, .25);
  -webkit-font-smoothing: antialiased;
}

.title {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0 0 1em;
}

.amp {
  display: block;
  font-size: 2em;
  padding: .25em 0;
}

.subtitle {
  display: block;
  font-style: italic;
  font-size: .65em;
  font-weight: normal;
  letter-spacing: -1px;
}

.date {
  display: block;
  font-size: 1.5em;
  margin: .5em 0;
}

a {
  color: #555;
}

p {
  margin: 0 auto 1em;
}

dt { font-weight: bold; }

dd {
  margin: 0 0 .5em;

  &:before { margin-right: .5em; }
}



.title {
  font-size: 1.75em;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 4em 0 3em;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12em;
    margin: -.37em -.5em;
  }
}

.ie8 {
  .title:before { font-size: 21em; }
}


.ie9 .title {
  &:before {
    margin-top: -.33em;
  }
}

