---
title: Madeleine & Rowan are engaged.
---

%h1.title.icon-engagement-ring
  %span.madeleine Madeleine
  %span.amp.icon-ampersand.icon-only &amp;
  %span.rowan Rowan
  %em.subtitle are engaged.

.box
  %p
    Please join us to celebrate our engagement on
    %em.date 09 &middot; 03 &middot; 13
    for a picnic <del>in the park</del> indoors.

  %p= "Please bring a plate of food to share."

  %p= "As it looks like it will rain (or perhaps flood, again), please check this website for the updated venue or message Maddie (0422 397 150) or Rowan (0433 901 550)."

  %dl{style: 'margin: 1em 0 2em;'}
    %dt Location
    %dd= data.info.location.name

    %dt Time
    %dd= data.info[:time]

    -# = link_to image_tag('map.png'), 'http://a.tiles.mapbox.com/v3/rowanhogan.map-7belist9.html#16.00/-27.4705/153.0532', title: 'New Farm park, Brisbane', class: 'map'

  %p.icon-diamond

-# .map-box
-#   #map
-#   = link_to 'Close Map', '#close', id: 'map-close' , class: 'icon-close icon-only', title: 'Close map'
